.co-img-icon {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.co-img-icon > svg {
  @include translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

.co-img-icon-light {
  fill: $color-icon-light;
}

.co-img-icon-dark {
  fill: $color-icon-dark;
}

.co-m-icon-inline {
  vertical-align: middle;
  margin-right: 2px;
}
