.dropdown-menu {
  @include border-radius(1px);
}

.dropdown-menu > li > a {
  padding: 3px 20px 3px 10px;
}

.dropdown {
  @include co-x-media-mobile {
    .dropdown-toggle {
      color: $gray;
      text-transform: uppercase;
    }

    .caret {
      display: none;
    }

    .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0px;
      background-color: transparent;
      border: 0px none;
      box-shadow: none;
      display: block;
      line-height: 16px;
      font-size: 16px;

      > li > a {
        line-height: 20px;
        padding: 5px 15px 5px 25px;
      }
    }
  }
}
