.co-m-table-grid {
  // All table-grid "rows"
  .row {
    font-size: 13px;
    line-height: 13px;
    margin: 0;
  }

  // All table-grid "rows" & "cells"
  .row,
  [class*='col-'] {
    vertical-align: middle;
  }

  .row.co-m-table-grid--clickable:hover {
    background-color: $blue-bg;
    cursor: pointer;
  }

  // Recursively indent nested tables.
  .co-m-table-grid {
    padding-left: 20px;
  }
}

.co-m-table-grid__body {
  min-height: 50px;
  position: relative;
  width: 100%;
}

// Default row padding
.co-m-table-grid > .co-m-table-grid__body > .row {
  padding: 10px 0;
}

.co-m-table-grid--compact > .co-m-table-grid__body > .row {
  padding: 5px 0;
}

.co-m-table-grid--scroll {
  border: solid 1px $color-table-border;
  padding: 5px 15px;
  overflow-y: scroll;
}

.co-m-table-grid--bordered {
  > .co-m-table-grid__head,
  > .co-m-table-grid__body > .row {
    border-bottom: solid 1px $color-table-border;
  }
}

// Heading rows.
.co-m-table-grid__head {
  @extend .co-m-field-head;
  padding: 10px 0;
}
