.co-m-guages {
  padding: 0 15px 20px 15px;
  border-bottom: 1px solid #eee;
}

.co-m-guage {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 10px 20px;
}

.co-m-guage--content {
  display: inline-block;
  min-height: 92px;
}

.co-m-guage--label {
  text-align: center;
  line-height: 1.2em;
  font-size: 85%;
  text-transform: capitalize;
}

.co-m-guage--label-icon {
  font-size: 1.3em;
  color: #999;
  padding-right: 7px;
  vertical-align: middle;

  &.fa-download {
    color: #006d2c;
  }

  &.fa-sign-in {
    color: #A1D99B;
  }

  &.fa-check-square {
    color: #41AB5D;
  }

  &.fa-warning {
    color: #BD0026;
  }
}
