.co-m-cog {
  position: relative;
  color: $gray;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
  &.open .co-m-cog__icon {
    color: $color-cog-active;
  }
}

.co-m-cog-wrapper {
  display: inline-block;
}

// icon
.co-m-cog__icon {
  vertical-align: middle;
}
.co-m-cog__icon--size-large {
  font-size: 20px;
}
.co-m-cog__icon--size-small {
  font-size: 16px;
}

// dropdown. uib-dropdown and class templates clobber each other, so
// we use a descendant tag here
.co-m-cog--anchor-left .co-m-cog__dropdown {
  left: 0px;
  right: auto;
}

.co-m-cog--anchor-right .co-m-cog__dropdown {
  right: 0px;
  left: auto;
}
