<div class="co-m-cog">
  <span class="dropdown" is-open="status.isopen" ng-click="captureClick($event)">
    <span class="co-m-cog__icon co-m-cog__icon--size-{{size}} dropdown-toggle fa fa-cog"></span>
    <ul class="dropdown-menu co-m-cog__dropdown co-m-dropdown--dark co-m-cog__dropdown--anchor-{{anchor}}">
      <li ng-repeat="option in options | orderBy:'weight'">
        <a ng-if="option.href" ng-href="{{option.href}}" ng-bind="option.label"></a>
        <a ng-if="!option.href" ng-click="clickHandler($event, option)" ng-bind="option.label"></a>
      </li>
    </ul>
  </span>
</div>
