.co-m-dropdown--dark {
  background-color: $color-bg-translucent-dark;
  border: solid 1px $color-bg-translucent-dark;

  // Super-specific for bootstrap overrides.
  > li > a {
    color: $white;
    &:hover {
      background-color: $color-bg-translucent-dark;
      color: $white;
    }
  }

  // Mobile overrides
  @include co-x-media-mobile {
    > li > a {
      color: $blue-link;
      &:hover {
        background-color: $color-bg-mute;
        color: $blue-link;
      }
    }
  }
}
