.co-m-toast {
  position: fixed;
  top: 48px;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
}

.co-m-toast__message {
  margin: 0 auto;
  margin-bottom: 3px;
}

@include co-x-media-min($screen-sm-min) {
  .co-m-toast__message {
    width: 300px;
  }
}
