.co-m-gauges {
  padding: 0 15px 20px 15px;
}

.co-m-gauge {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 10px 20px;
  min-width: 150px;
}

.co-m-gauge--content {
  display: inline-block;
  min-height: 92px;
}

.co-m-gauge--label {
  text-align: center;
  line-height: 1.2em;
  font-size: 85%;
  text-transform: capitalize;
}
