body {
  background-color: $color-bg-mute;
  font-family: $font-family-primary;
  font-size: $font-size-base;
}

a {
  color: $blue-link;
}

button:focus,
a:focus {
  outline-style: none;
}

dt {
  text-transform: uppercase;
  color: $color-text-muted;
  font-weight: 300;
  font-size: 80%;
}

dd {
  margin-bottom: 15px;
}
dd:last-child {
  margin-bottom: 0px;
}

h2 {
  font-size: 110%;
}

kbd {
  @include border-radius(3px);
  background-color: $gray-lighter;
  border: solid 1px $gray-light;
  padding: 4px 8px;
}

input[type="number"] {
  max-width: 100px;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.modal {
  .form-row {
    margin-bottom: 20px;
  }

  .form-row:last-child {
    margin-bottom: 0px;
  }
}
