.co-m-pie {
  display: inline-block;
}

.co-m-pie__labels > text {
  font-size: 12px;
}

.co-m-pie__lines > polyline {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  stroke: $gray-darker;
}
